.split-nav-body {
  display: flex;

  .nav {
    flex: 0 0 280px;
  }
  > div:last-of-type {
    flex: 1 1 100%;
    overflow-y: hidden;
  }
}

.nav {
  ul {
    padding: 0;
    margin: 0 0 2rem;
    list-style-type: none;
  }
  li {
    margin: 0 0 .5rem;
    font-size: 14px;

    a {
      text-decoration: none;
    }

    &.active a {
      text-decoration: underline;
    }
  }
  h3 {
    margin: 0 0 .5rem;
  }
}


.text-light {
  font-weight:100
 }
