$background-color: #eef9ff;
$border-color: #ccdce6;
$breakpoint-medium: 768px;
$breakpoint-small: 425px;
$breakpoint-footer: 920px;
$button-active-color: #e6475a;
$button-color: #ff4f64;
$graph-color: rgba(191, 237, 245, 0.5);
$loading-color-light: rgba(191, 237, 245, 0.5);
$loading-color-dark: rgb(191, 237, 245);
$alert-color: rgb(221, 17, 68);
$success-color: rgb(15, 142, 15);
$icon-color: #9aa7b4;
$link-active-color: #00b1ce;
$link-color: #098195;
$primary-color: #ff4f64;
$secondary-color: #098195;
$text-color: #415659;
$text-muted: #777;
