$background-color: #EEF9FF;
$border-color: #CCDCE6;
$breakpoint-medium: 768px;
$breakpoint-small: 425px;
$breakpoint-footer: 920px;
$button-active-color: #E6475A;
$button-color: #FF4F64;
$graph-color: rgba(191, 237, 245, 0.5);
$loading-color-light: rgba(191, 237, 245, 0.5);
$loading-color-dark: rgb(191, 237, 245);
$alert-color: rgb(221, 17, 68);
$success-color: rgb(15, 142, 15);
$icon-color: #9AA7B4;
$link-active-color: #00B1CE;
$link-color: #00C5E5;
$primary-color: #FF4F64;
$secondary-color: #00C5E5;
$text-color: #415659;
$text-muted: #777;
