<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">

    <!-- Mobile settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.simpleanalytics.io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.simpleanalytics.io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.simpleanalytics.io/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.simpleanalytics.io/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.simpleanalytics.io/safari-pinned-tab.svg" color="#FF4F64">
    <meta name="msapplication-TileColor" content="#FF4F64">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#FFFFFF">

{% seo %}

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
<body class="feedback-template">
  <nav>
    <ul>
      <li>
        <a href="/" class="brand">
          <svg style="width: 30px; height: 30px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <rect x="20" y="53" width="10" height="30"></rect>
            <rect x="44" y="35" width="10" height="48"></rect>
            <rect x="68" y="18" width="10" height="65"></rect>
          </svg>
          Simple Analytics&nbsp;<span class="text-light">Docs</span>
        </a>
      </li>
      <li class="menu-toggle">
        <div class="hamburger hamburger--collapse" aria-label="Menu" aria-controls="navigation">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </li>
      <li class="menu-item m-l-a"><a href="https://simpleanalytics.com/?ref={{ site.hostname }}">Go to Simple Analytics →</a></li>
    </ul>
  </nav>

  <!-- Privacy friendly website statistics -->
  <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
  <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>

  <script>
    (function() {
      var hostname = window.location.href.split('/')[2]
      if (/^([a-z]+\.)?simpleanalytics\.(is|io|co|com)$/.test(hostname) === false && /^localhost:[0-9]{4}$/.test(hostname) === false) {
        window.location.href = 'https://simpleanalytics.com/?ref=' + hostname
      }
    })()

    NodeList.prototype.forEach = Array.prototype.forEach
    HTMLCollection.prototype.forEach = Array.prototype.forEach

    var IS_ROBOT = (!window || !window.navigator || !window.navigator.userAgent || window.navigator.userAgent.search(/(bot|spider|crawl|monit)/ig) > -1)
    var HAS_ASYNC
    try {
      HAS_ASYNC = eval(`typeof Object.getPrototypeOf(async function() {}).constructor === 'function'`)
    } catch (exception) {
      HAS_ASYNC = false
    }
  </script>

  <div class="mainChatContainer">
    <main>
      <div class="split-nav-body">
        <div class="nav">
          {% assign mydocs = site.docs | sort: 'path' | group_by: 'category' %}

          {% for cat in mydocs %}
            <h3>
              {% if cat.name == 'api' %}
                API
              {% else %}
                {{ cat.name | capitalize }}
              {% endif %}
            </h3>
            <ul>
              {% assign items = cat.items | sort: 'order' %}
              {% for item in items %}
                {% if item.hidden != true %}
                  <li class="{% if item.url == page.url %}active{% endif %}">
                    <a href="{{ item.url }}" {% if item.skip_pjax == true %}data-js="skip-pjax"{% endif %}>
                      {% if item.menu %}
                        {{ item.menu }}
                      {% else %}
                        {{ item.title }}
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
        <div class="content">
          <h1>{{ page.title }} <a href="https://github.com/simpleanalytics/docs/blob/master/{{ page.path }}" target="_blank"><img class="icon" src="/images/pencil.svg" alt="edit"></a></h1>
          {{ content }}
        </div>
      </div>
    </main>

    <div id="intergramPlaceholder"></div>
  </div>


  <footer class="general">
    <div class="intro">
      <h1><a href="https://simpleanalytics.com/?ref={{ site.hostname }}" class="brand">
        <svg style="width: 30px; height: 30px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><rect fill="#FF4F64" x="20" y="53" width="10" height="30"></rect><rect fill="#FF4F64" x="44" y="35" width="10" height="48"></rect><rect fill="#FF4F64" x="68" y="18" width="10" height="65"></rect></svg>
        Simple Analytics
      </a></h1>
      <h2>Simple, clean, privacy-friendly analytics</h2>
      <p>We are very passionate about privacy and believe we can create valuable products without invading it. Our main servers are located in Iceland and your data is always encrypted – Adriaan CEO (<a href="https://twitter.com/intent/user?screen_name=AdriaanvRossum">follow on Twitter</a>)</p>
    </div>

    <div class="link-container">
      <div>
        <h3>Privacy</h3>
        <ul>
          <li><a href="/what-we-collect">What we collect</a></li>
          <li><a href="https://simpleanalytics.com/privacy?ref={{ site.hostname }}">Privacy Policy</a></li>
          <li><a href="https://simpleanalytics.com/terms-of-service?ref={{ site.hostname }}">Terms of Service</a></li>
        </ul>
      </div>

      <div>
        <h3>Product</h3>
        <ul>
          <li><a href="https://simpleanalytics.com/?ref={{ site.hostname }}#signup">Pricing</a></li>
          <li><a href="https://simpleanalytics.com/roadmap?ref={{ site.hostname }}">Roadmap</a></li>
        </ul>
      </div>

      <div class="flex-tablet-devider"></div>

      <div>
        <h3>Learn</h3>
        <ul>
          <li><a href="/">Documentation</a></li>
          <li><a href="https://blog.simpleanalytics.io/?ref={{ site.hostname }}">Blog</a></li>
          <li><a href="https://simpleanalytics.com/team?ref={{ site.hostname }}">Team</a></li>
        </ul>
      </div>

      <div>
        <h3>Contact</h3>
        <ul>
          <li><a href="https://simpleanalytics.com/contact?ref={{ site.hostname }}">Email address</a></li>
          <li><a href="https://simpleanalytics.com/contact?ref={{ site.hostname }}">Contact form</a></li>
          <li><a href="https://twitter.com/intent/user?screen_name=SimpleAnalytic">Twitter</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script>
    (function(window) {
      if (IS_ROBOT) return console.warn('Not running chat bot because you look like a bot.')
      var autoRepsponse = 'Looking for Adriaan or Şamil.'
      var outOfOfficeText = 'One moment please.'
      try {
        var adriaanTime = new Intl.DateTimeFormat('en-US', { timeZone: 'Asia/Bangkok', hour: 'numeric' }).format(new Date())
        var samilTime = new Intl.DateTimeFormat('en-US', { timeZone: 'Europe/Paris', hour: 'numeric' }).format(new Date())
        autoRepsponse = 'Looking for Adriaan (' + adriaanTime + ') or Şamil (' + samilTime + '). If you are in a hurry or need to leave please leave your email so they will get back to you asap.'
      } catch (e) { }
      window.intergramId = '-1001381664193'
      window.intergramServer = 'https://chat.simpleanalytics.io'
      window.intergramCustomizations = {
        alwaysUseFloatingButton: true,
        autoResponse: autoRepsponse
      }
    })(window)
  </script>

  <script src="https://chat.simpleanalytics.io/js/widget.js"></script>
  <script src="/js/pjax.min.js"></script>
  <script>
    // Hamber does not get replace by pjaz, so we keep this outside the pageSugar function
    document.querySelector('.hamburger').addEventListener('click', function(event) {
      event.target.closest('nav').classList.toggle('is-active')
    }, false)

    // Everything we make interactive after page load and pjax
    function pageSugar() {
      document.querySelectorAll('[data-timestamp]').forEach(function(element) {
        if (!Intl || !Intl.DateTimeFormat || !Date.prototype.toLocaleDateString) return
        var timestamp = parseInt(element.getAttribute('data-timestamp'), 10)
        var options = { year: 'numeric', month: 'long', day: 'numeric' }
        element.textContent = (new Date(timestamp)).toLocaleDateString('en-US', options)
        element.title = Intl.DateTimeFormat().resolvedOptions().timeZone
      })

      document.querySelectorAll('h1[id], h2[id], h3[id], h4[id], h5[id]').forEach(function(heading) {
        heading.innerHTML = heading.innerHTML + ' <a href="#' + heading.getAttribute('id') + '" class="anchor-link">#</a>'
      })
    }

    // Run once on page load
    pageSugar()

    // Run when pjax did it's thing
    document.addEventListener('pjax:complete', pageSugar)

    var pjax = new Pjax({
      cacheBust: false,
      elements: 'a:not([data-js="skip-pjax"])',
      selectors: [
        "title",
        "meta[name=description]",
        "main",
      ]
    })
  </script>
  <script>
    (function() {
      document.getElementsByTagName('table').forEach(function(table) {
        var newTable = table.cloneNode(true)
        var div = document.createElement('div')
        div.className = 'table-wrapper'
        div.appendChild(newTable)
        table.parentElement.replaceChild(div, table)
      })
    })()
  </script>
</body>
</html>
